/* Credit: https://cmdk.paco.me/ */

.background {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.background:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

[data-theme="dark"] .background:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #161616 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.background:after {
  content: "";
  background-image: url("/static/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 60%, 72%, 1) 0px, transparent 55%),
    radial-gradient(at 52% 99%, hsla(354, 40%, 61%, 1) 0px, transparent 55%),
    radial-gradient(at 10% 29%, hsla(256, 50%, 67%, 1) 0px, transparent 55%),
    radial-gradient(at 97% 96%, hsla(38, 40%, 74%, 1) 0px, transparent 55%),
    radial-gradient(at 33% 50%, hsla(222, 60%, 73%, 1) 0px, transparent 55%),
    radial-gradient(at 79% 53%, hsla(343, 20%, 79%, 1) 0px, transparent 55%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .content {
    display: none;
  }
}
